.navbar {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  background-color: #f8f8f8;
  border-color: #e7e7e7;
  border-width:0 0 1px;
  border-style: solid;
}

.navbar ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  font-size: 14px;
}

.navbar li {
  display: inline-block;
  padding: 15px 15px;
}

.navbar a {
  color: inherit;
  text-decoration: none;
}

.navbar-menu {
  display: inline-block;
}

.navbar-title {
  color: #777;
  display: inline-block;
  font-size: 18px;
}

.navbar-menu .active {
  color: #555;
  background-color: #e7e7e7;
}
