.productinfo-header {
  padding: 0 15px;
  margin-top: -10px;
  border-bottom: 1px solid #e5e5e5;
}

.productinfo-header a {
  text-decoration: none;
}

.productinfo-body {
  padding: 0 15px;
}

.productinfo-body > p {
  font-size: 21px;
  font-weight: 300;
}

.productinfo-body .col {
  margin-bottom: 5px;
}

.productinfo-header .close {
    color: #000;
    opacity: 0.2;
    float: right;
    font-size: 25px;
    font-weight: bold;
    line-height: 0.5;
    margin-right: -15px;
}

.productinfo-header .close:hover,
.productinfo-header .close:focus {
    opacity: 0.6;
    text-decoration: none;
    cursor: pointer;
}
